.nav {
  
 
  
  
}

.all-links {
text-align: left;
background-color:  rgb(242, 229, 83);
height: 14vw;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  

  
}
.post-dude {
width: 10vw;
height: auto;
text-align: center;
margin-left: 40vw;
margin-top: -23vw;
}

.header-link {
text-decoration: none;
color: black;
font-size: 2vw;
padding-left: 4vw;
margin-top: 1vw;

}
.link-nav {
  text-decoration: none;
  color: black;
  font-size: 2vw;
  padding-left: 4vw;
 
  

}
.login-nav {
  text-decoration: none;
  color: black;
  font-size: 2vw;
  padding-left: 4vw;

}
.nav-add {
  padding-left: 4vw;
}
  .nav-login {

    padding-left: 4vw;

  }

header {
  margin-left: 50vw;
  margin-top: -5.5vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3vw;
}